//
   Created by Holden Caulfield on 03.11.2014.
html
   head
      title Chess game
      link(type="text/css", rel="stylesheet", href="css/main.css")
   body
      div Chess v 0.0.1
      canvas#canvas(width="512px", height="512px")
      canvas#test_canvas(width="512px", height="512px")
   script(src="/js/vendor/require.js", data-main="js/application_loader.js")